

<h1>Octave online </h1>
<p>Matlaba bezmaksas variants</p>
  <div class="container p-3 my-3 ">





    <div class="column1"></div>
    <div class="column" ><iframe src="//octave-online.net/" frameborder="1" style="width: 100%; height: 600px">
    </iframe>
     </div>
     <div class="column" >
       <p>x = 0:pi/10:2*pi;<p>
        <p>y1 = sin(x); <p>
          <p>y2 = sin(x-0.25);</p>
          <p>y3 = sin(x-0.5); </p>
          <p>plot(x,y1,'g',x,y2,'b--o',x,y3,'c*')</p>


     </div>
     <div class="column1"></div>

  </div>
