<!-- <h1>Hello sds</h1> -->

<!-- <mat-spinner></mat-spinner> -->

<!-- <app-button></app-button>
<app-button></app-button>
<app-button></app-button> -->
<!-- <app-hero-detail></app-hero-detail> -->
<!-- <app-radiobutton></app-radiobutton> -->
<!-- <app-currency></app-currency> -->
<!-- <div class="w3-card-4" style="width:50%"
><app-weather></app-weather></div> -->
<div class="image">




  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="navbar">
  <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
  <a routerLink="weather"><i class="fa fa-fw"></i> Weather</a>
  <a routerLink="currency"><i class="fa fa-fw"></i> Currency</a>
  <a routerLink="radiobutton"><i class="fa fa-fw"></i> Octave online</a>
  <a routerLink="profile-reactive"><i class="fa fa-fw"></i> Profile</a>
</div>
<!-- <app-hero-detail></app-hero-detail> -->


  <div class="container">
    <div class="row">
      <div class="col">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
